{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Cadastro {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome"
               placeholder="Nome do usuario" class="form-control"
               value="{{ request.form['nome'] }}"/>
    </div>

    <div class="form-group">
        <label for="endereco">Endereco:</label>
        <input type="text" name="endereco"
               placeholder="Endereco do usuario" class="form-control"
               value="{{ request.form['endereco'] }}"/>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone"
               placeholder="Telefone do usuario" class="form-control"
               value="{{ request.form['telefone'] }}"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
{% endblock %}
