{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ user['nome'] }} {% endblock %}</h2>
    <p>Endereço: {{ user['endereco'] }}</p>
    <p>Telefone: {{ user['telefone'] }}</p>
    <p>@{{ user['ref'] }}</p>
    <p>Tipo: {{ user['tipo'] }}</p>
    <p>CPF/CNPJ: {{ user['cpf_cnpj'] }}</p>
    <p>Descrição: {{ user['descricao'] }}</p>
    <a href="{{ url_for('edicao', ref=user['ref']) }}">
        <button type="button" class="btn btn-primary">Editar</button>
    </a>
{% endblock %}