{% extends 'base.html' %}

{% block content %}
 <br>
 <h2>{% block title %} Agendamento {{ estab.nome }} {% endblock %}</h2>
    <p class="badge badge-dark">@{{ estab.ref }}</p>
    <p>Descrição: {{estab.descricao}}</p>
    <br>
    <form method="post">
     <div class="form-group">
         <label for="data">Data:</label>
         <input type="date" name="data" value="{{ request.form['data'] }}"/>
     </div>

     <div class="form-group">
         <label for="horario">Horário:</label>
         <input type="time" name="horario" value="{{ request.form['horario'] }}"/>
     </div>

     <div class="form-group">
         <label for="descricao">Descrição:</label>
         <input type="text" name="descricao"
                placeholder="Uma breve descrição do serviço" class="form-control"
                value="{{ request.form['descricao'] }}"/>
     </div>

     <div class="form-group">
         <button type="submit" class="btn btn-dark">Agendar</button>
     </div>
 </form>
{% endblock %}