{% extends 'base.html' %}

{% block content %}
<h2>{% block title %} Alterando {{ cli.nome }} {% endblock %}</h2>

<form method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" name="nome"
               placeholder="Nome do usuario" class="form-control"
               value="{{ request.form['nome'] or cli.nome }}"/>
    </div>

    <div class="form-group">
        <label for="ref">Referencia (@):</label>
        <input type="text" name="ref"
               placeholder="@usuario" class="form-control"
               value="{{ request.form['ref'] or cli.ref }}"/>
    </div>

    <div class="form-group">
        <label for="endereco">Endereco:</label>
        <input type="text" name="endereco"
               placeholder="Endereco do usuario" class="form-control"
               value="{{ request.form['endereco'] or cli.endereco }}"/>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone"
               placeholder="Telefone do usuario" class="form-control"
               value="{{ request.form['telefone'] or cli.telefone }}"/>
    </div>

    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" name="senha"
               placeholder="*********" class="form-control"
               value="{{ request.form['senha'] or cli.senha }}"/>
    </div>

    <div class="form-group">
        <label for="tipo">Tipo de conta:</label>
        <input type="text" name="tipo"
               placeholder="cliente ou estabelecimento" class="form-control"
               value="{{ request.form['tipo'] or cli.tipo }}"/>
    </div>

    <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf"
               placeholder="CPF" class="form-control"
               value="{{ request.form['cpf'] or cli.cpf }}"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-dark">Alterar</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete', ref=cli.ref) }}" method="POST">
    <input type="submit" value="Excluir usuário"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Quer realmente excluir este usuário?')">
</form>

{% endblock %}